WEB_PORT=8080
POSTGRES_DB=oa_workbench
POSTGRES_USER=oa_workbench
POSTGRES_PASSWORD=please-change-this-password
SESSION_SECRET=please-change-this-to-a-long-random-string
COOKIE_SECURE=false
OA_VERIFY_URL=
